@model NameValueCollectionValueProvider

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>指定前缀的Key</title>
</head>
<body>
    <table>
        <tr><th colspan="2">first</th></tr>
        @foreach (var item in Model. GetKeysFromPrefix ("first") )
        {
            <tr><td>@item.Key</td><td>@item.Value</td></tr>
        }
        <tr><th colspan="2">first[O]</th></tr>
        @foreach (var item in Model.GetKeysFromPrefix("first[0]"))
        {
            <tr><td>@item.Key</td><td>@item.Value</td></tr>
        }

        <tr><th colspan="2">first[1]</th></tr>
        @foreach (var item in Model.GetKeysFromPrefix("first[1]"))
        {
            <tr><td>@item.Key</td><td>@item.Value</td></tr>
        }
    </table>
</body>
</html>
